<%= form_for @customer do |c| %>
      <div class="form-group">
        <label>Полное наименование контрагента</label>
          <%= c.text_field :full_name, class: "form_control", type: "text" %>
      </div>

      <div class="form-group">
        <label>Краткое наименование контрагента</label>
          <%= c.text_field :short_name, class: "form_control", type: "text" %>
      </div>

      <div class="form-group">
        <label>Основной телефон</label>
          <%= c.text_field :phone, class: "form_control", type: "text" %>
      </div>

      <div class="form-group">
        <label>Основной адрес</label>
          <%= c.text_field :adres, class: "form_control", type: "text" %>
      </div>

      <div class="form-group">
        <%= c.submit "Добавить", class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>