<h4>Добавить новый адрес:</h4>
<%= form_for Location.new do |l| %>
    <div class="form-group">
      <label>Адрес доставки</label>
      <%= l.text_field :adres, class: "form_control" %>
    </div>

    <div class="form-group">
      <label>Телефоны</label>
      <%= l.text_field :phone, class: "form_control" %>
    </div>

    <div class="form-group">
      <label>Дополнительная информация</label>
      <%= l.text_field :info, class: "form_control" %>
    </div>

    <div class="form-group">
      <%= l.text_field :customer_id, type: "hidden", value: @customer.id %>
    </div>
        
    <div class="form-group">
        <%= l.submit "Добавить", class: "btn btn-primary btn-sm" %>
    </div>
<% end %>