<%= form_for PriceGroupLine.new, url: price_group_lines_path, method: "post" do |pgl| %>
    <div class="form-group"> 
      <label>Товар</label>
        <%= pgl.select :item_id, Item.all.map { |c| [c.name, c.id] }, selected: nil, class: "form_control" %>
    </div>
    
    <div class="form-group"> 
      <label>Количество товара, от</label>
        <%= pgl.text_field :amount, class: "form-control", value: "", type: "text" %>
    </div>

    <div class="form-group"> 
      <label>Цена за указанное количество</label>
        <%= pgl.text_field :price, class: "form-control", value: "", type: "text" %>
    </div>

    <%= pgl.text_field :price_group_id, value: @price_group.id, type: "hidden" %>
    
    <div class="form-group">
        <%= pgl.submit "Добавить", class: "btn btn-primary btn-sm" %>
    </div>
<% end %>